
// fontSizes
$sm: 18px; 
$m: 24px; 
$l: 32px; 
$xl: 38px;


//Backdrop 
$backdrop: rgb(247, 245, 245);

// Boxshadow
$cardPrimary: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$info: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
