

.homepage-top {
    display: flex;
    justify-content: space-between;
}

.test1 {
    display: flex;
    justify-content: center;
}
.test {
    // background: #104B57;
    background: #FCE2D3;
    width: 50%;
}