
.tool {
    height: auto;
    min-height: 280px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: $cardPrimary;
    border-radius: 5px;
    margin: auto; 
    background: white;
    padding: 10px;

    &__price {
        margin-top: 10px;
    }

    &__addToCart {
        margin-top: 10px;
        background: white;
        border-radius: 10px;
        transition: 0.4s;
        min-width: 95px;
        height: 22px;
        margin-bottom: 5px;

            &:hover {
                background: $mainColor;
                color: white;
                cursor: pointer;
            }
    }

    &__image {
        display: flex;
        justify-content: center;

        img {
            height: auto;
            max-height: 200px;
            width:90%;
        }
    }
}
