
.cart__items {

    &--brushes {
        display: flex;
        justify-content: center;
    }

    &--puttyKnife {
        display: flex;
        justify-content: center;
    }

    &--rollers {
        display: flex;
        justify-content: center;
    }
}
