.header {
    height: 200px;
    background-color: $backdrop;
    border-bottom: 1px solid black;
    @include justify-content-between();

    &__logo {
        width: 250px;
        height: 100%;
    }

    &__image {
        width: 100%;
        height: 100%;
        transform:rotate(180deg);

        &--right {
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        @include justify-content-center();
        font-size: $xl;  
        background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
          
    }
    
}
