.header {
    height: 200px;
    background-color: rgb(247, 245, 245);
    @include justify-content-between();

    &__logo {
        width: 250px;
        height: 100%;
    }

    &__image {
        width: 100%;
        height: 100%;
        transform:rotate(180deg);

        &--right {
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        @include justify-content-center();
        font-size: $xl;        
    }
    
}
