.navbar {
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-around;


    &-nav {
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 100%;
    }
}
.nav-item {
    font-size: $m;
}

@media only screen and (max-width: 860px) {

    .navbar-nav {
        display: flex;
        justify-content: center;
    }

    .nav-item {
        font-size: $sm;
        margin-left: 20px;
    }

    .dropdown.dropdown-btn {
        font-size: $sm;
        margin-left: 20px;
    }

}
