.card-faq {
    background: #ffff;
    box-shadow: $cardPrimary;
    width: 70%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;

    &--items {
        margin-top: 30px;
        width: 80%;

        & p {
            margin-top: 20px;
        }
    }
}

@media only screen and (max-width: 800px) {
    .card-faq {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}