.card-primary {
        background: rgba($color: #ffff, $alpha: 0.6);
        box-shadow: $cardPrimary;
        border-radius: 10px;
        padding: 5px;

        &-left {
                width: 60%;
        }

        &-right {
                width: 40%;
        }
}
