.cardIndoor {
    height: 100%;
    width: 90%;
    display: flex; 
    justify-content: center;
    box-shadow: $cardPrimary;
    background-color: #ffff;
    margin-top: 20px;

    &-left {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-imgContainer {
        width: 300px;
        height: auto;
    }

    &-image {
        width: 100%;
        height: 100%;
    }

    &-right {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
} 
