.widecard {
    background: rgba($color: #ffff, $alpha: 0.6);
    box-shadow: $cardPrimary;
    display: flex;
    height: 555px;
    
        &-image--hero {
            width: 100%;
            height: 100%;
        }
        
}

@media only screen and (max-width: 1200px) {
    .widecard {
        height: 400px;
    }
}

@media only screen and (max-width: 900px) {
    .widecard {
        height: 300px;
    }
}

@media only screen and (max-width: 640px) {
    .widecard {
        height: 250px;
    }
}


